@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;700&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(216, 216, 216);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.range-custom {
  @apply appearance-none h-2 rounded bg-[#e26631]; /* Tailwind mixed */
}

.range-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply h-5 w-5 rounded-full bg-white border-2 border-[#e26631] cursor-pointer;
  margin-top: -6px; /* Ajusta o alinhamento vertical */
}

.range-custom::-moz-range-thumb {
  @apply h-5 w-5 rounded-full bg-white border-2 border-[#e26631] cursor-pointer;
}
